.placeholder {
	color: whitesmoke;
}

.mat-focused .mat-form-field-label {
	/*change color of label*/
	color: whitesmoke !important;
}

.mat-form-field-underline {
	/*change color of underline*/
	background-color: whitesmoke !important;
}

.mat-form-field-ripple {
	/*change color of underline when focused*/
	background-color: whitesmoke !important;;
}
