<mat-card *ngIf="!organizations || organizations.length == 0; else orgs">
	<div class="content-center">
		<div>
			<mat-icon class="menu-icon add-org" aria-hidden="false">add</mat-icon>
		</div>
		<div>
			<i>Você ainda não possui setores cadastrados.</i>
		</div>
		<div>
			<button mat-stroked-button color="primary" (click)="openDialog()">Novo setor</button>
		</div>
	</div>
</mat-card>
<ng-template #orgs>
	<app-organization-list (deleteOrganization)="fetchOrganizations()" (createOrganization)="openDialog()"></app-organization-list>
</ng-template>
